In [1]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import ModelCheckpoint, EarlyStopping

import os
import pandas as pd
import numpy
import tensorflow as tf
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
# seed 값 설정
seed = 0
numpy.random.seed(seed)
tf.set_random_seed(seed)

In [4]:
# 데이터 입력
df_pre = pd.read_csv('../../dataset/wine.csv', header=None)
df = df_pre.sample(frac=1)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
5773,6.3,0.24,0.22,11.90,0.050,65.0,179.0,0.99659,3.06,0.58,9.3,6,0
5043,6.7,0.30,0.44,18.75,0.057,65.0,224.0,0.99956,3.11,0.53,9.1,5,0
4555,8.1,0.12,0.38,0.90,0.034,36.0,86.0,0.99026,2.80,0.55,12.0,6,0
1753,8.2,0.23,0.40,7.50,0.049,12.0,76.0,0.99660,3.06,0.84,9.7,6,0
4799,5.2,0.31,0.36,5.10,0.031,46.0,145.0,0.98970,3.14,0.31,12.4,7,0

In [6]:
dataset = df.values
X = dataset[:, 0:12]
Y = dataset[:, 12]
X, Y

(array([[ 6.3 ,  0.24,  0.22, ...,  0.58,  9.3 ,  6.  ],
        [ 6.7 ,  0.3 ,  0.44, ...,  0.53,  9.1 ,  5.  ],
        [ 8.1 ,  0.12,  0.38, ...,  0.55, 12.  ,  6.  ],
        ...,
        [ 8.  ,  0.28,  0.42, ...,  0.43, 10.6 ,  5.  ],
        [ 7.5 ,  0.26,  0.3 , ...,  0.38, 12.  ,  7.  ],
        [ 7.7 ,  0.31,  0.36, ...,  0.48, 12.  ,  5.  ]]),
 array([0., 0., 0., ..., 0., 0., 0.]))

In [7]:
# 모델 설정
model = Sequential()
model.add(Dense(30, input_dim=12, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [8]:
# 모델 컴파일
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [10]:
# 모델 저장폴더 설정
MODEL_DIR ='./model'
if not os.path.exists(MODEL_DIR):
    os.mkdir(MODEL_DIR)

In [ ]:
# 모델 저장조건 설정
modelpath = './model/{epoch:02-d}-{val_loss:.4f}.hdf5'
checkpointer = ModelCheckpoint(filepath=modelpath, monitor='val_loss', verbose=1, save_best_only=True)